body {
 background-color: red;
}
h1 {
 font-family: arial;
 font-size: 75px;
 font-weight: bold;
}
h2 {
 font-family: arial;
}
li {
 font-family: arial;
 font-size: 35px
}
.container {
 display: flex;
 align-items: center;
 justify-content: space-evenly;
}
button {
 height: 300px;
 width: 500px;
 padding: 25px 25px;
 font-size: 50px;
 border-radius: 25px;
 background-color: #663300;
 color: white;
}
button:hover {
 cursor:pointer;
 background-color: #00002F;
}
.top {
 overflow: hidden;
 text-align: center;
 background-color: blue;
 border-radius: 25px;
 display: grid;
 grid-template-columns:10fr 1fr;
}
.center {
 display: flex;
 justify-content: center;
 align-items: center;
}
.language {
 font-size: 38px;
}
.drapeau_france {
  background-image: url(../images/drapeau_france.jpg);
}
.drapeau_anglais{
  background-image: url(../images/drapeau_anglais.jpg);
}
