body {
	padding: 20px;
	font-family: "Courier New", monospace;
	background-color: #f8fbff;

	background-image:
	linear-gradient(#dfe6f0 1px, transparent 1px),
	linear-gradient(90deg, #dfe6f0 1px, transparent 1px);

	background-size: 40px 40px;
	text-align: center;
}

.main_title {
	text-align: center;
	font-size: 40px;
	color: #1a237e;
	border-bottom: 4px solid #1a237e;
	padding-bottom: 10px;
	margin-bottom: 30px;
}
table {
  margin: auto; 
}
h1 {
 font-family: arial;
 font-size: 75px;
 font-weight: bold;
}
h2 {
 font-family: arial;
}
li {
 font-family: arial;
 font-size: 35px
}
.container {
 display: flex;
 align-items: center;
 justify-content: space-evenly;
}
button {
 height: 300px;
 width: 500px;
 padding: 25px 25px;
 font-size: 50px;
 border-radius: 25px;
 background-color: #663300;
 color: white;
}
button:hover {
 cursor:pointer;
 background-color: #00002F;
}
.center {
 display: flex;
 justify-content: center;
 align-items: center;
}
.language {
 font-size: 38px;
}
.drapeau_france {
  background-image: url(../images/drapeau_france.jpg);
  background-size: cover;
}
.drapeau_anglais{
  background-image: url(../images/drapeau_anglais.jpg);
  background-size:cover;
}
